header {
  background-color:#262B46 ;
  color: white;
  padding: 5rem 3rem;
  position: sticky;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
}

main button {
  color: white;
  font-size: 1.8rem;
  text-align: start;
  padding-left: 2rem;
  cursor: pointer;
}

.userChoice {
  border: none;
  width:100%;
  height:100% ;
}

.gin {
  background-color: #6FC3DF;
}

.vodka {
  background-color: #8D82C4;
}

.rum {
  background-color: #EC8D81;
}

.scotch {
  background-color: #E7B788;
}

.nonAlc {
  background-color: #8EA9E8;
}

.random {
  background-color: #87C5A4;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
}

.productcard {
  cursor: pointer;

}

.productcard img {
  width: 300px;
}